body {
	margin: 0;
}
html, body, #leaflet {
	height: 100%
}
/* Three image containers (use 25% for four, and 50% for two, etc) */
.row {
  display: flex;
}

.column {
  flex: 33.33%;
  padding: 5px;
}
h1 {
    font-size: 24px !important;
    margin-top: 20px !important;
    font-weight: 600 !important;
}

.icenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
  /* width: 50%; */
}
.tcenter {
  text-align: center;
  border: null;
}
table{
    background: #fafafa;
}
.table>:not(:first-child) {
    border-top: inherit;
}
td, th {
  text-align: left;
  /*padding: 5%;*/
}

thead th{
    font-size: 16px;
}
.imgContainer{
	display: block;
	margin-left: auto;
	margin-right: auto;
	float:left;
}

.aj{
    color: #28a046;
    background: #95d4a5
}

.td-row{
    display: table-row;
}

.td-cell{
    display: table-cell;
    vertical-align: middle;
}

.td-cell img{
    margin-right: 5px;
}

.accordion-item{
    border: none;
}

.accordion-header button.accordion-button{
    background: none;
    border-bottom: none;
    font-size: 18px;
    box-shadow: 0 0 10px rgb(0 0 0 / 10%);
    margin: 15px 0;
}

.accordion-button:not(.collapsed) {
    color: #c15e36;
    font-weight: 600;
}

.accordion-button:not(.collapsed)::after {
    filter: invert(62%) sepia(9%) saturate(2945%) hue-rotate(329deg) brightness(72%) contrast(116%);
}

.accordion-body{
    padding: 6px 0 3px 0;
}

.legend {
    padding: 20px;
    background: #ffffff;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    line-height: 28px;
    color: #555;
    font-size: 15px;
}

.legend span {
  position: relative;
  bottom: 3px;
}

.legend i {
  width: 18px;
  height: 18px;
  float: left;
  margin: 0 8px 0 0;
}

.legend i.icon {
  background-size: 18px;
  background-color: rgba(255, 255, 255, 1);
}
